/* css for final website by tanis buker 2022*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    padding: 15px 10%;
    justify-content: space-between;
}

.logo {
    cursor: default;
    width: 15%;
}

nav {
    background-color: rgba(143, 146, 160, 0.8);
}

.navlinks {
    list-style: none;
    overflow-x: hidden;
    text-align: center;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;

}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor:  pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

.banner  {
    justify-content: center;
    align-items: center;
    width: 50%
}

.bruh article {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.bruh h1 {
    font-size: 30px;
}

.bruh p {
    font-size: 16px;
    color: #edf0f1be;
}

.bruh hr {
    color: #edf0f1be;
    width: 100%; 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bruh .rh {
    color: #edf0f1;
    text-align: left;
}

.bruh .hh {
    color: #edf0f1;
    text-align: right;
}

.smallimg {
    float: right;
    width: 25%;
    height: auto;
}

.left h1, p {
    color:#edf0f1;
}

.smallimg2 {
    float: left;
    width: 25%;
    height: auto;
}

.right h1, p {
    color:#edf0f1;
    
}

.right p {
    text-align: left;
}

.form {
    width: 70%;
margin: auto;
padding: 5px;
align-items: center;
}

input {
    font: "Montserrat", sans-serif;
    color: #edf0f1;
}

@media only screen and (max-width:767px){
    .bruh{width: 80%;}
    }
    
    @media only screen and (max-width:625px){
        .bruh{width: 98%;}
        nav{
            width: 100%;
            overflow: hidden;
        }
        a{width: 100%;
        display: flex;
    text-align: center;
    justify-content: center;
    padding: 2px 0px;
    }
    li{width: 100%;}
    li a{padding-left: 0px;}

    .button {
        padding: 0px
    }

    .bruh img {
        width: 100%
    }

    .bruh article {
        text-align: left;

    }

    .bruh h1 {
        font-size: 30px;
    }

    .bruh p {
        font-size: 16px;
        color: #edf0f1be;
    }

    .bruh hr {
        color: #edf0f1be;
        width: 100%; 
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bruh .rh {
        text-align: center;
        color: #edf0f1; 
    }
    
    .logo{width:33%;}
}